label{
    display:inline-block;
    width:13vw
}
.login-container{
    width:40%;
    margin:auto;
    background-color:blueviolet;
    border-radius: 2%;
}
.form-element{
    padding:2vw
}
h1{
    color:black;
    text-align: center;
}