h1{
    font-size: 3rem;
    text-align: center;
    color: red;
}

span{
    color:brown
}
label{
    display: inline-block;
    min-width:13vw;
    margin-bottom: 2vh;
}
.form-container{
    width:35vw;
    height:45vh;
    margin:auto;
    margin-top:8vh;
    border-radius:.6rem;
    background-color:green
}
.form-element{
    padding:2rem
}