label{
    display:inline-block;
    width:13vw
}
span{
    color:red
}
.signup-container{
    width:40%;
    margin: auto;
    background-color:bisque;
    border-radius: 4%;
}
.form-element{
    padding:1vw
}
h1{
    color:blue;
    text-align: center;
}
