.form-container{
    width:40%;
    height:40%;
    margin: auto;
    margin-top: 14vh;
    border: 1px solid;
    border-radius: 10px;
    background-color: blanchedalmond;
}
label{
    display: inline-block;
    margin-bottom: 4vh;
    width:16vw
}
.form-element{
   
    padding:4%
}
h2{
    color: red;
    text-align: center;
}
button{
    color:blue;
    background-color:beige;
}
span{
    color:red
}