h1 {
    font-size: 4rem;
    color:red;
    text-align: center;

}
label{
    width:5%;
   
}
.form-container{
    width:40%;
    min-width:40vw;
    min-height:30vh;
    margin: auto;
    background-color: blueviolet;
    border-radius: 2%;
}
form{
    padding:10%;

}